@page-padding-horizontal: @base-spacing-unit;
@page-padding-vertical: @base-spacing-unit * 2;

@page-section-margin-vertical: @base-spacing-unit * 2;

.page {
  align-self: stretch;
  flex: 1;
  padding: @page-padding-vertical @page-padding-horizontal;

  &.is-inverted {
    background: @neutral;
  }

  &.has-navigation-bar {
    margin-top: @fixed-navigation-bar-height;
  }
}

.page-footer {
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  width: 100%;
}

.page-content {
  width: 100%;

  .page-small & {
    max-width: 350px;
  }

  .page-large & {
    max-width: 730px;
  }
}

.page-section {

  & + .page-section {
    margin-top: @page-section-margin-vertical;
  }
}
