.error-message-container {
  border: 1px solid @grey;
  border-left: 5px solid @red;
  border-radius: 5px;
  margin-bottom: @base-spacing-unit * 0.5;
  padding: @base-spacing-unit * 0.5;

  &:last-child {
    margin-bottom: 0;
  }
}

.error-label {
  color: @red;
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    color: @red;
  }

  &:active {
    text-decoration: underline;
  }
}

.form {

  .row {

    &:last-child {

      .form-group {
        margin-bottom: 0;
      }
    }
  }
}
