@keyframes icon-spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.icon-checkmark {
  fill: #49ba79;
}

.icon-download {
  fill: #3f4453;
}

.icon-error {
  fill: #ee2133;
}

.icon-spinner {
  animation: icon-spinner 2s linear infinite;
}

.icon-warning {
  fill: #ee2133;
}
