@keyframes icon-spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.icon-chevron {

  &.reversed {
    transform: rotate(180deg);
  }
}

.icon-checkmark,
.icon-circle-checkmark {
  fill: @green;
}

.icon-download {
  fill: #3f4453;
}

.icon-error {
  fill: @red;
}

.icon-spinner {
  animation: icon-spinner 2s linear infinite;
}

.icon-tooltip {
  fill: #abadb4;
}

.icon-warning,
.icon-warning-small {
  fill: @red;
}
