@password-strength-offset-right: 5px;

.password-strength-wrapper {
  display: block;
  position: relative;

  input {
    padding-right: @base-spacing-unit;
  }

  .password-strength-indicator {
    pointer-events: none;
    position: absolute;
    right: @password-strength-offset-right;
    top: 50%;
    transform: translateY(-50%);
  }
}
